{% extends 'slices/index.html' %}
{% block header %} {% include 'slices/header.html' %} {% endblock %}
{% block footer %} {% include 'slices/footer.html' %} {% endblock %}


{% block styles %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$( function() {
		'use strict';
		$(".range-slider-1" ).slider({
			orientation: "horizontal",
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 100 ],
			slide: function( event, ui ) {
				$(ui.handle).html('<strong>' + ui.value + '%</strong>');
			}
		});
		$(".range-slider-2" ).slider({
			orientation: "horizontal",
			range: "min",
			min: 0,
			max: 12,
			slide: function( event, ui ) {
				$(ui.handle).html('<strong>' + ui.value + ' мес</strong>');
			}
		});
		$(".range-slider-3" ).slider({
			orientation: "horizontal",
			range: "min",
			min: 0,
			max: 100,
			slide: function( event, ui ) {
				$(ui.handle).html('<strong>' + ui.value + '%</strong>');
			}
		});
	} );
</script>
{% endblock %}

{% block modals %}
	<div class="app-modal">
		<div class="app-scroll">
			<div class="app-modal__table">
				<div class="app-modal__cell">
					<div class="app-container">
						<div class="app-modal__window -fullsize">
							<div class="app-modal__close"></div>
							<div class="app-modal-expert">
								<div class="_logo"><img src="./img/finam-big.jpg" alt="" /></div>
								<div class="_date"><i class="icon-time"></i> 13.02.2018</div>
								<div class="_title">Jacobs Engineering: ставка на работоспособность
													и упорство Дональда Трампа</div>
								<div class="_form-title">Персональная консультация по этой инвестидее от эксперта Финам</div>
								<div class="app-form-item">
									<div class="_field">
										<input id="i1" type="text" /><label for="i1"><span>Ваше имя</span></label>
									</div>
									<div class="_field">
										<input id="i2" type="text" /><label for="i2"><span>Ваш E-mail</span></label>
									</div>
									<div class="_field">
										<input id="i3" type="text" /><label for="i3"><span>Ваш телефон</span></label>
									</div>
								</div>
								<div class="_tools">
									<div class="_tools-title">ПРЕДПОЧТИТЕЛЬНЫЙ СПОСОБ СВЯЗИ:</div>
									<nav class="_tools-nav">
										<label><input name="gr1" type="radio"><i class="icon-form-mobile"></i></label>
										<label><input name="gr1" type="radio"><i class="icon-form-letter"></i></label>
										<label><input name="gr1" type="radio"><i class="icon-form-phone"></i></label>
									</nav>
								</div>

								<div class="_form-submit">
									<div class="_form-submit__inner">
										<div class="app-checkbox _check">
											<input class="js-required" type="checkbox" checked id="ch1" /> <label for="ch1"> Согласен на передачу брокеру персональных данных</label>
										</div>
										<div class="app-checkbox _check">
											<input type="checkbox" id="ch2" /> <label for="ch2"> Хочу получать новые инвнестидеи на E-mail </label>
										</div>
										<a href="" class="app-button-green app-button-size__large"><span>Оставить заявку</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
