{% extends 'slices/index.html' %}
{% block header %} {% include 'slices/header.html' %} {% endblock %}
{% block footer %} {% include 'slices/footer.html' %} {% endblock %}


{% block styles %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$( function() {
		'use strict';
		$(".range-slider-1" ).slider({
			orientation: "horizontal",
			range: true,
			min: 0,
			max: 100,
			values: [ 0, 100 ],
			slide: function( event, ui ) {
				$(ui.handle).html('<strong>' + ui.value + '%</strong>');
			}
		});
		$(".range-slider-2" ).slider({
			orientation: "horizontal",
			range: "min",
			min: 0,
			max: 12,
			slide: function( event, ui ) {
				$(ui.handle).html('<strong>' + ui.value + ' мес</strong>');
			}
		});
		$(".range-slider-3" ).slider({
			orientation: "horizontal",
			range: "min",
			min: 0,
			max: 100,
			slide: function( event, ui ) {
				$(ui.handle).html('<strong>' + ui.value + '%</strong>');
			}
		});
	} );
</script>
{% endblock %}

{% block content %}

	<section class="app-main-poster">
		<div class="app-container">
			<div class="app-main-poster__inner app-center">
				<div class="app-main-poster__rates">
					<div class="app-main-poster__rates_title">Что будет с долларом?</div>
					<div class="app-main-poster__rates_grid">
						<div class="app-main-poster__rates_item">
							<div class="app-main-poster__rates_label">Биржевой курс</div>
							<div class="app-main-poster__rates_value">57.78 руб/$</div>
						</div>
						<div class="app-main-poster__rates_item">
							<div class="app-main-poster__rates_label">Бюджетный курс</div>
							<div class="app-main-poster__rates_value">52.33 руб/$</div>
						</div>
						<div class="app-main-poster__rates_item">
							<div class="app-main-poster__rates_label">Потенциал $</div>
							<div class="app-main-poster__rates_value">9.43% <span class="_bit _down"></span></div>
						</div>
					</div>
				</div>
				<div class="app-main-poster__title app-main-poster__indent">
					Помогаем инвесторам
				</div>
				<div class="app-main-poster__title app-main-poster__animation js-animation-subtitle">
					<span>выбрать брокера</span>
					<span>не выбирать</span>
					<span>выбрать брокера</span>
					<span>не выбирать</span>
				</div>
				<div class="app-main-poster__sample app-main-poster__indent">
					<div class="app-main-poster__sample-item">
						<i class="icon-house"></i>
						<div>Независимая статистика и рейтинг</div>
					</div>
					<div class="app-main-poster__sample-item">
						<i class="icon-sales"></i>
						<div>Эксклюзивные инвестиционные предложения</div>
					</div>
					<div class="app-main-poster__sample-item">
						<i class="icon-line-graph"></i>
						<div>Независимая статистика прогнозов</div>
					</div>
				</div>
				<div class="app-main-poster__grid app-main-poster__indent app-sm-hidden">
					<div class="_grid">
						<div class="app-main-poster__grid-item">
							<strong>7</strong>
							<div>идей за неделю</div>
						</div>
						<div class="app-main-poster__grid-item">
							<strong>800+</strong>
							<div>идей в базе</div>
						</div>
						<div class="app-main-poster__grid-item">
							<strong>25</strong>
							<div>броккеров</div>
						</div>
						<div class="app-main-poster__grid-item">
							<strong>10 000</strong>
							<div>инвесторов доверяют</div>
						</div>
					</div>
				</div>
				<div class="app-main-poster__grid app-main-poster__indent app-sm-visible">
					<div class="_grid">
						<div class="app-main-poster__grid-item">
							<strong>7</strong>
							<div>идей за неделю</div>
						</div>
						<div class="app-main-poster__grid-item">
							<strong>25</strong>
							<div>броккеров</div>
						</div>
					</div>
					<div class="_grid">
						<div class="app-main-poster__grid-item">
							<strong>800+</strong>
							<div>идей в базе</div>
						</div>
						<div class="app-main-poster__grid-item">
							<strong>10 000</strong>
							<div>инвесторов доверяют</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="app-invest-idea">
		<div class="app-invest-white-title">
			<div class="app-section-icon"><i class="icon-idea"></i></div>
			<div class="app-section-title -large">Инвестиционные идеи</div>
		</div>

		<div class="app-section__indent">
			<div class="app-container">
				<div class="app-invest__list-grid clearfix">
					<div class="_col">
						<div class="app-invest-idea__item -view-2">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Jacobs Engineering: ставка на работоспособность и упорство Дональда Трампа</div>
								<div class="_rate">
									<div class="_rate-label">Финам</div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">11,31%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -down">-1,87%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">22</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">10</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (22 + 10)) * 22)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Магнит нащупывает дно (в который раз?)</div>
								<div class="_rate">
									<div class="_rate-label">Финам</div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">19,51%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -up">+4,53%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">5</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">29</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (5 + 29)) * 5)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2 -flash">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Магнит нащупывает дно (в который раз?)</div>
								<div class="_rate">
									<div class="_rate-label"><img src="./img/finam.png" alt="" /></div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">19,51%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -up">+4,53%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">5</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">29</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (5 + 29)) * 5)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2 -flash -hovered">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Магнит нащупывает дно (в который раз?)</div>
								<div class="_rate">
									<div class="_rate-label"><img src="./img/finam.png" alt="" /></div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">19,51%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -up">+4,53%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">5</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">29</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (5 + 29)) * 5)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
							<div class="_hovered-info">
								<div class="_hovered-info-title">Хотите заработать <nobr>на идее?</nobr></div>
								<div class="_hovered-info-grid">
									<a href="" class="app-button-green app-button-size__large -full"><span>Заработать</span></a>
									<a href="" class="app-button-white app-button-size__large -full"><span>Подробнее</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Jacobs Engineering: ставка на работоспособность и упорство Дональда Трампа</div>
								<div class="_rate">
									<div class="_rate-label">Финам</div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">11,31%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -down">-1,87%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">22</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">10</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (22 + 10)) * 22)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Магнит нащупывает дно (в который раз?)</div>
								<div class="_rate">
									<div class="_rate-label">Финам</div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">19,51%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -up">+4,53%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">5</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">29</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (5 + 29)) * 5)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2 -flash">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Магнит нащупывает дно (в который раз?)</div>
								<div class="_rate">
									<div class="_rate-label"><img src="./img/finam.png" alt="" /></div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">19,51%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -up">+4,53%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">5</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">29</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (5 + 29)) * 5)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-idea__item -view-2 -flash -hovered">
							<div class="app-invest-idea__item-inner">
								<img class="_img" src="./img/jacobs.png" alt="" />
								<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
								<div class="_content">Магнит нащупывает дно (в который раз?)</div>
								<div class="_rate">
									<div class="_rate-label"><img src="./img/finam.png" alt="" /></div>
									<div class="_rate-value">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
									</div>
								</div>
								<div class="_profit">
									<div class="_profit-label">могу заработать</div>
									<div class="_profit-value">19,51%</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_info">
										<div class="_info-cell">
											<div class="_info-title">Текущая<br>доходность</div>
											<div class="_info-value -up">+4,53%</div>
										</div>
										<div class="_info-cell">
											<div class="_info-title">Голосование</div>
											<div class="_info-progress">
												<span class="_info-progress-label">Верю <span class="-up">5</span></span>
												<span class="_info-progress-label">Не верю <span class="-down">29</span></span>
												<div class="_info-progress-line">
													<div class="_info-progress-line-fill" style="width: calc(1% * (100 / (5 + 29)) * 5)"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="app-sm-hidden">
									<div class="_tools">
										<a href="" class="app-button-blue"><span>подробнее <i class="icon-arrow-right -right"></i></span></a>
									</div>
								</div>
							</div>
							<div class="_hovered-info">
								<div class="_hovered-info-title">Хотите заработать <nobr>на идее?</nobr></div>
								<div class="_hovered-info-grid">
									<a href="" class="app-button-green app-button-size__large -full"><span>Заработать</span></a>
									<a href="" class="app-button-white app-button-size__large -full"><span>Подробнее</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="app-section__tools">
					<a href="" class="app-button-green app-button-size__large"><span>смотреть все идеи</span></a>
				</div>
			</div>
		</div>
	</section>


	<section class="app-invest-calc app-section__indent">
		<div class="app-section-icon"><i class="icon-case"></i></div>
		<div class="app-section-title">Инвестиционный советник</div>

		<div class="app-container">
			<div class="app-invest-calc__options">
				<div class="app-invest-calc__options-grid clearfix">
					<div class="_col">
						<div class="app-invest-calc__options-title">Выберите инвестиционную стратегию</div>
						<div class="_option-strategy">
							<label class="_option-button"><input type="radio" class="app-hidden" name="r1" /><span class="app-button-strategy -full"><i class="icon-cash -left"></i> <span>Приумножить</span></span></label>
							<label class="_option-button"><input type="radio" class="app-hidden" name="r1" /><span class="app-button-strategy -full"><i class="icon-safe-circle -left"></i> <span>Сохранить от инфляции</span></span></label>
						</div>
						<div class="_option-strategy">
							<label class="_option-button"><input type="radio" class="app-hidden" name="r1" /><span class="app-button-strategy -full"><i class="icon-line-stats -left"></i> <span>дивидендный доход</span></span></label>
							<label class="_option-button"><input type="radio" class="app-hidden" name="r1" /><span class="app-button-strategy -full"><i class="icon-piggy -left"></i> <span>накопить на пенсию</span></span></label>
						</div>
					</div>
					<div class="_col">
						<div class="app-invest-calc__options-title">Хочу вложить</div>
						<div class="_option-ranges">
							<div class="_option">
								<div class="_option-title">Целевая доходность, годовых</div>
								<div class="range-slider-1"></div>
							</div>
							<div class="_option">
								<div class="_option-title">Срок</div>
								<div class="range-slider-2"></div>
							</div>
						</div>
						<div class="_option-ranges">
							<div class="_option">
								<div class="_option-title">Готов рискнуть</div>
								<div class="range-slider-3"></div>
							</div>
							<div class="_option _option-cash">
								<div class="_option-title">Валюта<br>инвестирования:</div>
								<div class="_option-cash-flex">
									<label class="_option-cash-item">
										<input type="radio" class="app-hidden" name="r2" /><span class="_option-cash-item__inner">₽</span>
									</label>
									<label class="_option-cash-item">
										<input type="radio" class="app-hidden" name="r2" /><span class="_option-cash-item__inner">$</span>
									</label>
									<label class="_option-cash-item">
										<input type="radio" class="app-hidden" name="r2" /><span class="_option-cash-item__inner">€</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-invest__list-grid clearfix">
				<div class="_col">
					<div class="app-invest__item">
						<div class="app-invest__item-inner">
							<img class="_img" src="./img/jacobs.png" alt="" />
							<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
							<div class="_author ellipsis">Аналитик Финам</div>
							<div class="_profit">
								<div class="_profit-label">могу заработать</div>
								<div class="_profit-value">11,31%</div>
							</div>
							<div class="_success-hit">Точность попадания <span>75%</span></div>
						</div>
					</div>
				</div>
				<div class="_col">
					<div class="app-invest__item">
						<div class="app-invest__item-inner">
							<img class="_img" src="./img/jacobs.png" alt="" />
							<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
							<div class="_author ellipsis">Аналитик Финам</div>
							<div class="_profit">
								<div class="_profit-label">могу заработать</div>
								<div class="_profit-value">19,51%</div>
							</div>
							<div class="_success-hit">Точность попадания <span>75%</span></div>
						</div>
					</div>
				</div>
				<div class="_col">
					<div class="app-invest__item -flash">
						<div class="app-invest__item-inner">
							<img class="_img" src="./img/jacobs.png" alt="" />
							<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
							<div class="_author ellipsis">Аналитик Финам</div>
							<div class="_profit">
								<div class="_profit-label">могу заработать</div>
								<div class="_profit-value">19,51%</div>
							</div>
							<div class="_success-hit">Точность попадания <span>75%</span></div>
						</div>
					</div>
				</div>
				<div class="_col">
					<div class="app-invest__item">
						<div class="app-invest__item-inner">
							<img class="_img" src="./img/jacobs.png" alt="" />
							<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
							<div class="_author ellipsis">Аналитик Финам</div>
							<div class="_profit">
								<div class="_profit-label">могу заработать</div>
								<div class="_profit-value">19,51%</div>
							</div>
							<div class="_success-hit">Точность попадания <span>75%</span></div>
						</div>
					</div>
				</div>
				<div class="_col">
					<div class="app-invest__item -flash -hovered">
						<div class="app-invest__item-inner">
							<img class="_img" src="./img/jacobs.png" alt="" />
							<div class="_date"><i class="icon-time"></i> <strong>13.02.2018</strong></div>
							<div class="_author ellipsis">Аналитик Финам</div>
							<div class="_profit">
								<div class="_profit-label">могу заработать</div>
								<div class="_profit-value">19,51%</div>
							</div>
							<div class="_success-hit">Точность попадания <span>75%</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-section__tools">
				<a href="" class="app-button-green app-button-size__large"><span>продвинутый поиск</span></a>
			</div>
		</div>
	</section>


	<section class="app-invest-radar app-section__indent">
		<div class="app-invest-white-title">
			<div class="app-section-icon"><i class="icon-mask"></i></div>
			<div class="app-section-title">
				<span>Инсайдер-радар</span>
				<span class="app-section-subtitle__radar"><span>202</span> сделки на 346 559 456 171 ₽</span>
			</div>
		</div>

		<div class="app-table-insider__container">
			<div class="app-table-insider__indent">
				<div class="app-table-insider app-content-b-fade">
					<div class="app-table-insider__thead app-md-hidden">
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name"><span>Название</span></div>
							<div class="app-table-insider__td-deal"><span>Сделка</span></div>
							<div class="app-table-insider__td-date"><span>Дата</span></div>
							<div class="app-table-insider__td-value"><span>Объем сделки</span></div>
							<div class="app-table-insider__td-price-change"><span>Изменение цены с даты сделки</span></div>
						</div>
					</div>
					<div class="app-table-insider__tbody">
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name _td-center"><img src="./img/mts.jpg" alt="" /> <strong>MTS</strong> <span class="_author">(Стрим Диджитал)</span></div>
							<div class="app-table-insider__td-deal _td-center"><span class="_cell-up-label _cell-label">Покупка</span></div>
							<div class="app-table-insider__td-date app-sm-hidden _td-center"><span class="_cell-date">07. 02. 2018</span></div>
							<div class="app-table-insider__td-value app-sm-hidden _td-center"><span class="_cell-value"><strong>~ 81 059 000 ₽</strong><span class="_cell-hint">?</span></span></div>
							<div class="app-table-insider__td-price-change _td-center"><span class="_cell-up">+1.22%</span> <a href="" class="_cell-next app-sm-hidden"></a></div>
						</div>
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name _td-center"><img src="./img/mts.jpg" alt="" /> <strong>MTS</strong> <span class="_author">(Стрим Диджитал)</span></div>
							<div class="app-table-insider__td-deal _td-center"><span class="_cell-down-label _cell-label">Продажа</span></div>
							<div class="app-table-insider__td-date app-sm-hidden _td-center"><span class="_cell-date">07. 02. 2018</span></div>
							<div class="app-table-insider__td-value app-sm-hidden _td-center"><span class="_cell-value"><strong>~ 81 059 000 ₽</strong><span class="_cell-hint">?</span></span></div>
							<div class="app-table-insider__td-price-change _td-center"><span class="_cell-down">-1.22%</span> <a href="" class="_cell-next app-sm-hidden"></a></div>
						</div>
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name _td-center"><img src="./img/mts.jpg" alt="" /> <strong>MTS</strong> <span class="_author">(Стрим Диджитал)</span></div>
							<div class="app-table-insider__td-deal _td-center"><span class="_cell-up-label _cell-label">Покупка</span></div>
							<div class="app-table-insider__td-date app-sm-hidden _td-center"><span class="_cell-date">07. 02. 2018</span></div>
							<div class="app-table-insider__td-value app-sm-hidden _td-center"><span class="_cell-value"><strong>~ 81 059 000 ₽</strong><span class="_cell-hint">?</span></span></div>
							<div class="app-table-insider__td-price-change _td-center"><span class="_cell-up">+1.22%</span> <a href="" class="_cell-next app-sm-hidden"></a></div>
						</div>
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name _td-center"><img src="./img/mts.jpg" alt="" /> <strong>MTS</strong> <span class="_author">(Стрим Диджитал)</span></div>
							<div class="app-table-insider__td-deal _td-center"><span class="_cell-down-label _cell-label">Продажа</span></div>
							<div class="app-table-insider__td-date app-sm-hidden _td-center"><span class="_cell-date">07. 02. 2018</span></div>
							<div class="app-table-insider__td-value app-sm-hidden _td-center"><span class="_cell-value"><strong>~ 81 059 000 ₽</strong><span class="_cell-hint">?</span></span></div>
							<div class="app-table-insider__td-price-change _td-center"><span class="_cell-down">-1.22%</span> <a href="" class="_cell-next app-sm-hidden"></a></div>
						</div>
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name _td-center"><img src="./img/mts.jpg" alt="" /> <strong>MTS</strong> <span class="_author">(Стрим Диджитал)</span></div>
							<div class="app-table-insider__td-deal _td-center"><span class="_cell-up-label _cell-label">Покупка</span></div>
							<div class="app-table-insider__td-date app-sm-hidden _td-center"><span class="_cell-date">07. 02. 2018</span></div>
							<div class="app-table-insider__td-value app-sm-hidden _td-center"><span class="_cell-value"><strong>~ 81 059 000 ₽</strong><span class="_cell-hint">?</span></span></div>
							<div class="app-table-insider__td-price-change _td-center"><span class="_cell-up">+1.22%</span> <a href="" class="_cell-next app-sm-hidden"></a></div>
						</div>
						<div class="app-table-insider__row">
							<div class="app-table-insider__td-name _td-center"><img src="./img/mts.jpg" alt="" /> <strong>MTS</strong> <span class="_author">(Стрим Диджитал)</span></div>
							<div class="app-table-insider__td-deal _td-center"><span class="_cell-down-label _cell-label">Продажа</span></div>
							<div class="app-table-insider__td-date app-sm-hidden _td-center"><span class="_cell-date">07. 02. 2018</span></div>
							<div class="app-table-insider__td-value app-sm-hidden _td-center"><span class="_cell-value"><strong>~ 81 059 000 ₽</strong><span class="_cell-hint">?</span></span></div>
							<div class="app-table-insider__td-price-change _td-center"><span class="_cell-down">-1.22%</span> <a href="" class="_cell-next app-sm-hidden"></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-section__tools">
			<a href="" class="app-button-green app-button-size__large"><span>смотреть все идеи</span></a>
		</div>
	</section>


	<section class="app-invest-magazine app-section__indent app-white-section">
		<div class="app-invest-white-title">
			<div class="app-section-icon"><i class="icon-book"></i></div>
			<div class="app-section-title">ИнвестИдеи журнал</div>
		</div>

		<div class="app-container">
			<div class="app-invest-magazine__grid">
				<div class="_col">
					<div class="app-invest-magazine__card -fullsize">
						<div class="_bg" style="background-image: url(img/image_01.jpg)"></div>
						<div class="_absolute">
							<div class="_ahead">Главное</div>
							<div class="_title">Инвест итоги 2017</div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
					</div>
				</div>
				<div class="_col">
					<div class="app-invest-magazine__card">
						<div class="_top">
							<div class="_bg" style="background-image: url(img/image_02.jpg)"></div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
						<div class="_bottom">
							<div class="_title">Ответ хейтерам и скептикам</div>
							<div class="_subtitle">Вы знаете, у портала Инвест-Идеи есть хейтеры! И это здорово. С ними интересно.</div>
						</div>
					</div>
					<div class="app-invest-magazine__card">
						<div class="_top">
							<div class="_bg" style="background-image: url(img/image_02.jpg)"></div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
						<div class="_bottom">
							<div class="_title">Критические дни</div>
							<div class="_subtitle">Вы знаете, у портала Инвест-Идеи есть хейтеры! И это здорово. С ними интересно.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="app-invest-magazine__grid">
				<div class="_col">
					<div class="app-invest-magazine__card">
						<div class="_top">
							<div class="_bg" style="background-image: url(img/image_02.jpg)"></div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
						<div class="_bottom">
							<div class="_title">Ответ хейтерам и скептикам</div>
							<div class="_subtitle">Вы знаете, у портала Инвест-Идеи есть хейтеры! И это здорово. С ними интересно.</div>
						</div>
					</div>
					<div class="app-invest-magazine__card">
						<div class="_top">
							<div class="_bg" style="background-image: url(img/image_02.jpg)"></div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
						<div class="_bottom">
							<div class="_title">Критические дни</div>
							<div class="_subtitle">Вы знаете, у портала Инвест-Идеи есть хейтеры! И это здорово. С ними интересно.</div>
						</div>
					</div>
				</div>
				<div class="_col">
					<div class="app-invest-magazine__card">
						<div class="_top">
							<div class="_bg" style="background-image: url(img/image_02.jpg)"></div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
						<div class="_bottom">
							<div class="_title">Ответ хейтерам и скептикам</div>
							<div class="_subtitle">Вы знаете, у портала Инвест-Идеи есть хейтеры! И это здорово. С ними интересно.</div>
						</div>
					</div>
					<div class="app-invest-magazine__card">
						<div class="_top">
							<div class="_bg" style="background-image: url(img/image_02.jpg)"></div>
							<div class="_tools">
								<span class="_tools-watch"><i class="icon-eye"></i> 234</span>
								<span class="_tools-read"><i class="icon-time"></i> чтение: 4 мин</span>
							</div>
						</div>
						<div class="_bottom">
							<div class="_title">Критические дни</div>
							<div class="_subtitle">Вы знаете, у портала Инвест-Идеи есть хейтеры! И это здорово. С ними интересно.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
