{% extends 'slices/index.html' %}
{% block header %} {% include 'slices/header.html' %} {% endblock %}
{% block footer %} {% include 'slices/footer.html' %} {% endblock %}

{% block styles %}
	<style>
		#container {
			text-align: center;
		}
		#container [class*="icon-"]{
			display: inline-block;
			vertical-align: top;
			width: 100px;
			height: 100px;
			font-size: 40px;
			line-height: 100px;
			text-align: center;
		}
	</style>
{% endblock %}

{% block content %}
<div class="app-container">
	<div class="icon-book"></div>
	<div class="icon-case"></div>
	<div class="icon-cash"></div>
	<div class="icon-eye"></div>
	<div class="icon-facebook"></div>
	<div class="icon-flash"></div>
	<div class="icon-house"></div>
	<div class="icon-idea"></div>
	<div class="icon-line-graph"></div>
	<div class="icon-line-stats"></div>
	<div class="icon-mask"></div>
	<div class="icon-piggy"></div>
	<div class="icon-sales"></div>
	<div class="icon-star"></div>
	<div class="icon-star-empty"></div>
	<div class="icon-star-half"></div>
	<div class="icon-time"></div>
	<div class="icon-twitter"></div>
	<div class="icon-vk"></div>
	<div class="icon-arrow-right"></div>
	<div class="icon-safe-circle"></div>
	<div class="icon-form-phone"></div>
	<div class="icon-form-letter"></div>
	<div class="icon-form-mobile"></div>
</div>
{% endblock %}
