{% extends 'slices/index.html' %}
{% set bodyClass = 'white-bg' %}
{% block header %} {% include 'slices/header.html' %} {% endblock %}
{% block footer %} {% include 'slices/footer.html' %} {% endblock %}

{% block content %}

	<div class="app-container">
		<div class="app-page-title__container">
			<div class="app-page-title__breadcrumbs">Главная - Статистика - Финам</div>
			<h1 class="app-page-title">Buybacks</h1>
			<div class="app-page-title__bottom">Вся информация на сайте invest-idei.ru (далее - Сайт) носит исключительно образовательный и научный характер и не является рекомендацией или предложением к совершению сделок с финансовыми инструментами. Вы можете следовать или не следовать прогнозам на свой страх и риск.</div>
		</div>
	</div>

	<div class="app-table-container">
		<div class="app-table-header">
			<div class="app-container">
				<div class="app-table app-table-v-1">
					<div class="app-sm-visible">
						<div class="app-table-row">
							<span>Сортировать:</span>
							<select class="_select">
								<option>Название</option>
								<option>Объем</option>
								<option>Старт</option>
								<option>Текущая цена</option>
								<option>Финиш</option>
							</select>
						</div>
					</div>
					<div class="app-sm-hidden">
						<div class="app-table-row">
							<div class="app-table-cell app-table-c-1">
								<div class="app-table-cell__inner">
									<a class="_link asc active" href="javascript:void(0);"><span>Название</span> <i class="_icon-arrow"></i></a>
								</div>
							</div>
							<div class="app-table-cell app-table-c-2">
								<div class="app-table-cell__inner">
									<a class="_link desc" href="javascript:void(0);"><span>Объем</span> <i class="_icon-arrow"></i></a>
								</div>
							</div>
							<div class="app-table-cell app-table-c-3">
								<div class="app-table-cell__inner">
									<a class="_link desc" href="javascript:void(0);"><span>Старт</span> <i class="_icon-arrow"></i></a>
								</div>
							</div>
							<div class="app-table-cell app-table-c-4">
								<div class="app-table-cell__inner">
									<a class="_link desc" href="javascript:void(0);"><span>Текущая цена</span> <i class="_icon-arrow"></i></a>
								</div>
							</div>
							<div class="app-table-cell app-table-c-5">
								<div class="app-table-cell__inner">
									<a class="_link desc" href="javascript:void(0);"><span>Финиш</span> <i class="_icon-arrow"></i></a>
								</div>
							</div>
							<div class="app-table-cell app-table-c-6">
								<div class="app-table-cell__inner">
									<a class="_link desc" href="javascript:void(0);">
										<span>Влияние на рынок</span>
										<i class="_icon-arrow"></i>
										<span class="app-question-mark">?</span>
									</a>
								</div>
							</div>
							<div class="app-table-cell app-table-c-7">
								<div class="app-table-cell__inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-container">
			<div class="app-table-body">
				<div class="app-table app-table-v-1 -cell-align-center">
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
					<div class="app-table-row">
						<div class="app-table-cell app-table-c-1">
							<div class="app-table-cell__inner">
								<img class="app-table-image" src="img/table_logo_atlant.png" title="" />
								<div class="_title">Атлант Телеком</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-2">
							<div class="app-table-cell__inner">
								<div class="_progress-price">~ 1 423 156 $ <span class="app-question-mark">?</span></div>
								<div class="app-table-progress">
									<div class="app-table-progress__line" style="width: 40%;"></div>
								</div>
								<div class="_progress-flex">
									<div>Выполненно 10,1 млн (75%)</div>
									<div>Осталось 10,1 млн (25%)</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-3">
							<div class="app-table-cell__label _template-visible">Старт (1 мая 2018): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-title _template-hidden">цена акции на</div>
									<div class="_ac-subtitle _template-hidden">1 мая 2018</div>
									<div class="_ac-price">45 $</div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-4">
							<div class="app-table-cell__label _template-visible">Текущая цена (<span class="cl-green">+25%</span>): </div>
							<div class="app-table-cell__inner">
								<div class="_ac">
									<div class="_ac-subtitle _template-hidden">+ 25 %</div>
									<div class="_ac-price">12 $ </div>
								</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-5">
							<div class="app-table-cell__label _template-visible">Финиш</div>
							<div class="app-table-cell__inner">
								<div>22 мая 2018</div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-6">
							<div class="app-table-cell__label _template-visible">Влияние на рынок</div>
							<div class="app-table-cell__inner">
								<div>Высокое 5,89 <span class="app-question-mark">?</span></div>
							</div>
						</div>
						<div class="app-table-cell app-table-c-7">
							<div class="app-table-cell__inner">
								<div class="_link-container"><a class="_link" href="">Инсайдер-радар</a></div>
								<div class="_link-container"><a class="_link" href="">Сайт</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
