<footer id="footer" class="app-footer">
	<div class="app-container">
		<div class="app-footer-container">
			<div class="_i2">
				<div class="app-footer__subscribe">
					<div class="app-footer-subscribe__title">Рассылка инвестиционных идей. <nobr>Каждую неделю. Без спама.</nobr></div>
					<div class="app-subscribe-box">
						<input type="text" class="app-input" placeholder="e-mail" />
						<a href="" class="app-button-green"><span>Подписаться</span></a>
					</div>
				</div>
				<a href="/" class="app-telegram-bot app-footer-indent"><img src="./img/telegram-bot.png" srcset="./img/telegram-bot-x2.png 2x"  alt="logo" /> Подключите наш бот в телеграм</a>
			</div>
			<div class="_i1">
				<nav class="app-footer-nav">
					<div class="app-footer-nav__col">
						<a class="app-footer-nav__link" href="/">идеи</a>
						<a class="app-footer-nav__link" href="/">инсайдер-радар</a>
						<a class="app-footer-nav__link" href="/">статистика</a>
						<a class="app-footer-nav__link" href="/">бот</a>
					</div>
					<div class="app-footer-nav__col">
						<a class="app-footer-nav__link" href="/">дивидендные идеи</a>
						<a class="app-footer-nav__link" href="/">идеи на 2018 год</a>
						<a class="app-footer-nav__link" href="/">идеи на облигации</a>
						<a class="app-footer-nav__link" href="/">о сервисе</a>
					</div>
				</nav>
				<div class="app-footer-social app-footer-indent">
					<a class="app-footer-social__link" href=""><i class="icon-facebook"></i> Facebook</a>
					<a class="app-footer-social__link" href=""><i class="icon-vk"></i> Vkontakte</a>
					<a class="app-footer-social__link" href=""><i class="icon-twitter"></i> Twitter</a>
				</div>
			</div>
		</div>
		<div class="app-footer-info">
			<div>Вся информация на сайте invest-idei.ru (далее - Сайт) носит исключительно образовательный и научный характер и не является рекомендацией или предложением к совершению сделок с финансовыми инструментами. Вы можете следовать или не следовать прогнозам на свой страх и риск. Компании и аналитики, прогнозы которых размещены на сайте invest-idei.ru, являются независимыми от создателей сайта лицами. Сайт invest-idei.ru является агрегатором информации, размещенной указанными лицами на интернет-ресурсах и в прочих источниках, а также публичных данных о сделках с ценными бумагами или другими финансовыми инструментами. Клиенты брокеров могут получать по подписке иные рекомендации, а также раньше или позже того, как они были опубликованы на Сайте. Сайт invest-idei.ru не берет на себя обязательство корректировать аналитические данные и инвестиционные идеи в связи с утратой актуальности содержащейся в них информации, а также при выявлении несоответствия приводимых данных действительности. Администрация invest-idei.ru не несет ответственности за содержание и последствия использования размещенной информации, в том числе за любые возможные убытки от сделок с финансовыми инструментами.</div>
			<div>Сайт invest-idei.ru не участвует во взаимоотношениях пользователей сайта и инвестиционных ком паний и аналитиков, предоставляя только сервис публикации и отслеживания инвестиционных идей.</div>
			<div>Если Вы не согласны с данными условиями, немедленно покиньте Сайт и не используйте размещенную на нем информацию.</div>
		</div>
	</div>
</footer>