<header class="app-header" id="header">
    <div class="app-container">
		<div class="app-header-container">
			<div class="app-header_left">
				<a href="/" class="app-header-logo"><img src="./img/logotype.svg" alt="logo" /></a>
			</div>
			<div class="app-header_center">
				<div class="app-sm-hidden">
					<nav class="app-header-nav">
						<a class="app-header__link" href="/">
							<span>идеи</span>
						</a>
						<a class="app-header__link" href="/">
							<span>статистика</span>
						</a>
						<a class="app-header__link active" href="/">
							<span>инсайдер-радар</span>
						</a>
						<a class="app-header__link" href="/">
							<span>
								советник
								<span class="app-header__link-hint">β</span>
							</span>
						</a>
					</nav>
				</div>
			</div>
			<div class="app-header_right">
				<div class="app-md-hidden">
					<div class="app-header-logged_bar">
						<div class="app-header-logged_bar__item app-header-size">
							<div class="app-header-logged_bar__icon -t1">
								<div class="_notification">3</div>
								<i class="icon-user-outline"></i>
							</div>
						</div>
						<div class="app-header-logged_bar__item app-header-size">
							<div class="app-header-logged_bar__icon -t2">
								<i class="icon-user-outline"></i>
							</div>
							<div class="_logged-user">
								<div class="_logged-user__title">вы вошли как</div>
								<div class="_logged-user__name">Ноколай Мостовой</div>
							</div>
						</div>
						<div class="app-header-logged_bar__item app-header-size -pro app-container__outdent-right">
							<img class="_icon" src="img/pro.png" alt="" />
							<span class="_md-label">PRO</span>
							<span class="_lg-label">PRO версия</span>
						</div>
					</div>
				</div>
				<div class="app-md-hidden app-hidden">
					<div class="app-header-sign_bar">
						<a href="" class="app-button-white"><span>Войти</span></a>
						<a href="" class="app-button-green"><span>Зарегистрироваться</span></a>
					</div>
				</div>
				<div class="app-md-visible app-sm-hidden">
					<button type="button" id="desctop-menu" class="app-header-menu-button">
						<span class="bar first-bar"></span>
						<span class="bar second-bar"></span>
						<span class="bar third-bar"></span>
					</button>
				</div>
				<div class="app-sm-visible">
					<button type="button" id="mobile-menu-button" class="app-header-menu-button">
						<span class="bar first-bar"></span>
						<span class="bar second-bar"></span>
						<span class="bar third-bar"></span>
					</button>
				</div>
			</div>
		</div>
    </div>
</header>
