<!DOCTYPE HTML>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title></title>

    <!--Meta (og)-->
    <meta property="og:site_name" content=""> <!-- Site title-->
    <meta property="og:locale" content="ru">
    <meta property="og:type" content="website">
    <meta property="og:title" content=""><!-- Site title-->
    <meta property="og:description" content=""> <!-- Site description-->
    <meta property="og:url" content="">  <!-- Site url-->
    <meta property="og:site_name" content="">
    <meta property="article:publisher" content="https://www.facebook.com/ "> <!--Facebook link-->
    <meta property="og:image" content=""> <!-- Site url preview 310x310 png-->

    <!--Meta (content)-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="copyright" content="">

    <!--Meta (devices)-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="application-name" content=""><!-- Site title-->

    <!--Icons-->
    {% include 'favicon.html' %}

	{% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>


</head>

{% if bodyClass %}
<body class="{{ bodyClass }}">
{% else %}
<body>
{% endif %}

{% block banner %}{% endblock %}

<div class="app-wrapper">
	{% include 'mobile-menu.html' %}
    {% block header %}{% endblock %}
    <section id="container">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}{% endblock %}
</div>

{% block modals %}{% endblock %}
</body>

<script type="text/javascript" src="js/app.js"></script>

{% block script %}{% endblock %}
</html>
