<div class="app-mobile-menu" id="mobile-menu">
	<div class="app-mobile__flex">
		<div class="app-mobile__scroll">
			<div class="app-scroll">
				<nav>
					<a href="">Идеи</a>
					<a href="">Инсайдер-Радар</a>
					<a href="">Статистика</a>
					<a href="">Бот</a>
					<a href="">О Сервисе</a>
					<a href="">Блог</a>
				</nav>
			</div>
		</div>
		<div class="app-mobile__tools">
			<a href="" class="app-button-white"><span>Войти</span></a>
			<a href="" class="app-button-green"><span>Зарегистрироваться</span></a>
		</div>
	</div>
</div>