@mixin input-common-style {
    @include radius(3px);
    border: 1px solid $gray-bc;
    padding: 12px 20px 12px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-family: 'Geometria-Regular';
    vertical-align: top;
    @include box-sizing;
    @include placeholder {
        font-size: 10px;
        color: $doc-color;
        text-transform: uppercase;
    }
    &:focus {
        color: $doc-color;
        @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.15));
    }
}

.app-input {
    height: $input-height;
    @include input-common-style;
}

.app-subscribe-box {
    @include flexbox;
    .app-input {
        @include flex(1);
        min-width: 0;
        border-color: #acd8e6;
    }
    [class*="app-button-"]{
        margin-left: 12px;
    }
    @include md-max {
        [class*="app-button-"], .app-input {
            height: 32px;
            line-height: 32px;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 8px;
        }
    }
}

.app-textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    @include input-common-style;
}

[class*="app-button-"] {
    @include in_b;
    @include radius(3px);
    @include box-sizing;
    @include user-select-none;
    font-family: "Geometria-Medium";
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    white-space: nowrap;
    height: $input-height;
    font-size: 10px;
    line-height: $input-height - 2px;
    border: 1px solid;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{

    }
    &:active {
      > span {
          @include transform(translateY(1px));
      }
    }
    &.-full {
        width: 100%;
    }
    > span {
        @include in_b;
        vertical-align: top;

        > [class*="icon-"] {
            &.-left {
                margin-right: 8px;
            }
            &.-right {
                margin-left: 8px;
            }
        }
    }
}

.app-button-size__small {
    height: 20px;
    line-height: 16px;
    font-size: 10px;
}

@include sm {
    .app-button-size__large {
        height: 58px;
        line-height: 56px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
    }
}

.app-button-white {
    border-color: $gray-bc;
}

.app-button-green {
    background-color: #4ac420;
    border-color: #4ac420;
    color: #fff;
}

.app-button-blue {
    background-color: #29c8ff;
    border-color: #29c8ff;
    color: #fff;
}

.app-button-strategy {
    border-color: #29c8ff;
}

.app-form-item {
    border: none;
    padding: 0;
    margin: 0;

    textarea {
        resize: none;
    }

    input,
    textarea {
        background: none;
        font-size: 14px;
        padding: 12px;
        display: block;
        outline: none;
        border: none;
        width: 100%;
        border-radius: inherit;
    }

    ._field {
        background-color: #eff0f2;
        border: 1px solid $text-secondary-color;
        @include radius(4px);
        position: relative;
        height: 58px;

        input {
            position: relative;
            width: 100%;
            border-radius: 6px;
            border: 0;
            padding: 18px 0 0 16px;
            color: $doc-color;
            @include box-sizing;

            &:focus {
                font-size: 16px;

                &::selection {
                    background: rgba(188, 232, 255, 0.5);
                }
            }
        }
        input {
            position: absolute;
            height: 100%;
        }
        input:focus + label,
        input.active + label {
            transform: translate(16px, 6px);
            font-size: 12px;
        }
        label {
            position: absolute;
            color: $text-secondary-color;
            transform: translate(16px, 20px);
            transition:
                    transform .3s ease,
                    font-size .3s ease,
                    color .3s .1s ease;
            font-size: 14px;
            &.active {
                transform: translate(16px, 11px);
            }
        }
    }
}


.app-checkbox {
    position: relative;

    input[type=checkbox] {
        opacity: 0;
        width: 22px;
        height: 22px;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;

        + label {
            @include in_b;
            font-size: 13px;
            line-height: 18px;
            position: relative;
            padding-left: 34px;
            padding-top: 3px;
            text-align: left;
            @include icon(check) {
                position: absolute;
                font-size: 20px;
                top: 0;
                left: 0;
            }
        }
        &:checked + label:before {
            content: icon-char(check-checked);
        }
    }
}

