@font-face {
    font-family: "svg-fonts";
    src: url('../fonts/svg-fonts.eot');
    src: url('../fonts/svg-fonts.eot?#iefix') format('eot'),
    url('../fonts/svg-fonts.woff2') format('woff2'),
    url('../fonts/svg-fonts.woff') format('woff'),
    url('../fonts/svg-fonts.ttf') format('truetype'),
    url('../fonts/svg-fonts.svg#svg-fonts') format('svg');
}

@mixin icon-styles {
    font-family: "svg-fonts";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == arrow-right {
    $char: "\E001";
}
    @if $filename == book {
    $char: "\E002";
}
    @if $filename == case {
    $char: "\E003";
}
    @if $filename == cash {
    $char: "\E004";
}
    @if $filename == check-checked {
    $char: "\E005";
}
    @if $filename == check {
    $char: "\E006";
}
    @if $filename == eye {
    $char: "\E007";
}
    @if $filename == facebook {
    $char: "\E008";
}
    @if $filename == flash {
    $char: "\E009";
}
    @if $filename == form-letter {
    $char: "\E00A";
}
    @if $filename == form-mobile {
    $char: "\E00B";
}
    @if $filename == form-phone {
    $char: "\E00C";
}
    @if $filename == half-star {
    $char: "\E00D";
}
    @if $filename == house {
    $char: "\E00E";
}
    @if $filename == idea {
    $char: "\E00F";
}
    @if $filename == line-graph {
    $char: "\E010";
}
    @if $filename == line-stats {
    $char: "\E011";
}
    @if $filename == mask {
    $char: "\E012";
}
    @if $filename == piggy {
    $char: "\E013";
}
    @if $filename == safe-circle {
    $char: "\E014";
}
    @if $filename == sales {
    $char: "\E015";
}
    @if $filename == star-empty {
    $char: "\E016";
}
    @if $filename == star-half {
    $char: "\E017";
}
    @if $filename == star {
    $char: "\E018";
}
    @if $filename == time {
    $char: "\E019";
}
    @if $filename == twitter {
    $char: "\E01A";
}
    @if $filename == user-outline {
    $char: "\E01B";
}
    @if $filename == vk {
    $char: "\E01C";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
    @if $extend {
        @extend %icon;
    } @else {
        @include icon-styles;
    }
    content: icon-char($filename);
    @content;
}
}

.icon-arrow-right {
    @include icon(arrow-right);
}
.icon-book {
    @include icon(book);
}
.icon-case {
    @include icon(case);
}
.icon-cash {
    @include icon(cash);
}
.icon-check-checked {
    @include icon(check-checked);
}
.icon-check {
    @include icon(check);
}
.icon-eye {
    @include icon(eye);
}
.icon-facebook {
    @include icon(facebook);
}
.icon-flash {
    @include icon(flash);
}
.icon-form-letter {
    @include icon(form-letter);
}
.icon-form-mobile {
    @include icon(form-mobile);
}
.icon-form-phone {
    @include icon(form-phone);
}
.icon-half-star {
    @include icon(half-star);
}
.icon-house {
    @include icon(house);
}
.icon-idea {
    @include icon(idea);
}
.icon-line-graph {
    @include icon(line-graph);
}
.icon-line-stats {
    @include icon(line-stats);
}
.icon-mask {
    @include icon(mask);
}
.icon-piggy {
    @include icon(piggy);
}
.icon-safe-circle {
    @include icon(safe-circle);
}
.icon-sales {
    @include icon(sales);
}
.icon-star-empty {
    @include icon(star-empty);
}
.icon-star-half {
    @include icon(star-half);
}
.icon-star {
    @include icon(star);
}
.icon-time {
    @include icon(time);
}
.icon-twitter {
    @include icon(twitter);
}
.icon-user-outline {
    @include icon(user-outline);
}
.icon-vk {
    @include icon(vk);
}