.ui-slider-horizontal {
    height: 4px;
    margin-right: 24px;

    .ui-slider-handle {
        width: 14px;
        height: 14px;
        background: #fff;
        border: 4px solid #1c8dfa;
        @include box-sizing;
        @include radius(50%);
        top: -5px;
        margin-left: 0;
    }
    @include md {
        height: 5px;

        .ui-slider-handle {
            width: 15px;
            height: 15px;
            border-width: 4px;
            top: -5px;
        }
    }
}

.ui-widget-header {
    background: #1c8dfa;
    border: none;
}

.ui-widget-content {
    background: #dee1e6;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-slider-handle {
    strong {
        width: 40px;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top: 100%;
        left: -12px;
        margin-top: 6px;
        white-space: nowrap;
        font-family: 'Geometria-Bold';
        color: $text-secondary-color;
    }
}