//header
$header-desctop-height: 76px;
$header-mobile-height: 60px;

//media queries
$app-lg: 1280px;
$app-md: 992px;
$app-sm: 768px;
$app-xs: 450px;

$app-header-xs: 64px;
$app-header-md: 100px;
$app-header-max: 100px;

$index-content: 100;

$content-max: 1260px;
$content-h-indent: 24px;
$content-m-h-indent: 16px;

$input-height: 40px;

$gray-bc: #dbdde3;
$lblue-bc: #E1F0F5;

$link-color: #1a8bfa;
$doc-color: #0e2c56;
$green-color: #4ac420;
$red-color: #ff3d3d;
$text-secondary-color: #929bac;

$doc-bg: #def7ff;


@mixin xs {
    @include mq($app-xs) {
        @content;
    }
}

@mixin xs-max {
    @include mq($app-xs - 1, max) {
        @content;
    }
}

@mixin sm {
    @include mq($app-sm) {
        @content;
    }
}

@mixin sm-max {
    @include mq($app-sm - 1, max) {
        @content;
    }
}

@mixin md {
    @include mq($app-md) {
        @content;
    }
}

@mixin md-max {
    @include mq($app-md - 1px, max) {
        @content;
    }
}

@mixin lg {
    @include mq($app-lg) {
        @content;
    }
}

@mixin lg-max {
    @include mq($app-lg - 1px, max) {
        @content;
    }
}

@mixin mq-max($indent: 0) {
    @include mq($content-max + $content-h-indent*2 + $indent - 1px, max) {
        @content;
    }
}

@mixin mq-min($indent: 0) {
    @include mq($content-max + $content-h-indent*2 + $indent) {
        @content;
    }
}

@mixin md-lg {
    @media screen and (min-width: #{$app-md}) and (max-width: #{$app-lg}) {
        @content;
    }
}