@include create-font((
    font: 'Geometria',
    types: ('Regular', 'Bold', 'Medium', 'Light'),
    exts: (otf)
));

[class*="icon-"] {
    line-height: 1;

    &:before, &:after {
        vertical-align: text-bottom;
    }
}

.app-hidden {
    display: none;
}

h1, h2, h3, h4, h5 {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}

small {
    font-size: 0.8em;
}

.cl-green {
    color: $green-color;
}

.hidden {
    display:none!important;
}

.clearfix {
    @include clearfix;
}

.flex-center {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
}

.app-sm-visible {
    display: none;
    @include sm-max {
        display: block;
    }
}

.app-md-visible {
    display: none;
    @include md-max {
        display: block;
    }
}

.app-md-hidden {
    @include md-max {
        display: none!important;
    }
}

.app-sm-hidden {
    @include sm-max {
        display: none!important;;
    }
}

.app-center {
    text-align: center;
}

strong {
    font-weight: normal;
    font-family: 'Geometria-Bold';
}

body {
    font-family: 'Geometria-Regular', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: $doc-color;
    background-color: $doc-bg;
    letter-spacing: 0.2px;
    -webkit-overflow-scrolling: auto;
}

html, body {
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    min-width: 360px;
    height: 100%;
}

@mixin ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

%ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    @include ellipsis;
}

.app-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: indexUp($index-content);
    @include box-shadow(0 1px 0 #F0F0F0);

    [class*="app-button-"] + [class*="app-button-"] {
        margin-left: 16px;
    }
}

.app-wrapper {
    min-height: 100%;
    @include flexbox;
    @include justify-content(space-between);
    @include flex-direction(column);
    padding-top: $header-mobile-height;
    @include box-sizing;
    @include sm {
        padding-top: $header-desctop-height;
    }
}

#container {
    @include flex(1);
    position: relative;
    min-width: 0;
    min-height: 0;
    z-index: $index-content;
}

.app-container {
    width: 100%;
    max-width: 480px;
    padding-left: $content-m-h-indent;
    padding-right: $content-m-h-indent;
    margin-right: auto;
    margin-left: auto;
    @include box-sizing;

    @include sm {
        padding-left: $content-h-indent;
        padding-right: $content-h-indent;
        max-width: $content-max + $content-m-h-indent*2;
    }
    @include md {
        max-width: $content-max + $content-h-indent*2;
    }
}

.app-container__outdent {
    margin-right: -$content-m-h-indent;
    margin-left: -$content-m-h-indent;

    @include sm {
        margin-left: -$content-h-indent;
        margin-right: -$content-h-indent;
    }
}

.app-container__outdent-left {
    margin-left: -$content-m-h-indent;

    @include sm {
        margin-left: -$content-h-indent;
    }
}

.app-container__outdent-right {
    margin-right: -$content-m-h-indent;

    @include sm {
        margin-right: -$content-h-indent;
    }
}

.app-header-logo {
    @include in_b;
    width: 178px;
    img {
        vertical-align: middle;
    }
    @include sm-max {
        img {
            position: relative;
            top: -2px;
            left: -13px;
        }
    }
}

.app-header-container {
    @include box-sizing;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: $header-mobile-height;
    position: relative;

    @include sm {
        height: $header-desctop-height;
    }
}

.app-header-size {
    height: $header-mobile-height;

    @include sm {
        height: $header-desctop-height;
    }
}

.app-header_center {

}

.app-header_right,
.app-header-sign_bar {
    @include flexbox;
    @include align-items(center);
}

.app-header__link {
    white-space: nowrap;
    font-size: 11px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-family: 'Geometria-Medium';
    height: $header-desctop-height;
    line-height: $header-desctop-height;

    > span {
        position: relative;
    }
   + .app-header__link {
       margin-left: 26px;
   }
    @include mq-min {
        font-size: 16px;
        + .app-header__link {
            margin-left: 42px;
        }
    }

    &:hover {
        color: $link-color;
    }
    &.active {
        color: $link-color;

        &:after {
            content: '';
            border-bottom: 5px solid;
            width: 100%;
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: -5px;
        }
    }
}

.app-header__link-hint {
    background-color: #FDDB49;
    color: #927600;
    border-radius: 2px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    line-height: 1;
    font-family: normal Arial sans-serif;
    text-transform: none;
    font-size: 12px;
    padding: 2px 4px;
    margin-left: 4px;

    &:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border-right: 6px solid transparent;
        border-top: 6px solid #FDDB49;
    }
}

.app-header-nav {
    @include flexbox;
    @include align-items(center);
    margin: 0 24px;
}

.app-header-logged_bar {
    @include flexbox;
    @include align-items(center);
}

.app-header-logged_bar__icon {
    width: 40px;
    height: 40px;
    @include radius(50%);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    position: relative;

    &.-t1 {
        background: #1DC6F9;
        color: #fff;
    }
    &.-t2 {
        background: #1C8EF9;
        color: #fff;
    }
    
    ._notification {
        height: 16px;
        min-width: 16px;
        font: bold 11px/1 Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        position: absolute;
        padding: 3px;
        bottom: 100%;
        right: 100%;
        text-align: center;
        background-color: #D82828;
        @include radius(50%);
        @include transform(translate(75%, 75%));
        color: #fff;
    }
}

.app-header-logged_bar__item {
    padding: 14px;
    @include flexbox;
    @include align-items(center);
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;

    @include lg-max {
        ._lg-label {
            display: none;
        }
    }
    @include lg {
        ._md-label {
            display: none;
        }
    }
    &.-pro {
        text-align: center;
        background-color: $lblue-bc;
        font-family: "Geometria-Bold";

        @include mq-min (280px) {
            position: absolute;
            right: -140px;
            top: 0;
        }
    }
    ._icon {
        margin-right: 8px;
    }
    ._logged-user {
        margin-left: 12px;
    }
    ._logged-user__title {
        font-size: 12px;
        text-transform: lowercase;
        margin-bottom: 3px;
        line-height: 1;
    }
    ._logged-user__name {
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1px dotted;
        font-family: "Geometria-Medium";
    }
}

.app-header-menu-button {
    padding: 0;
    margin-top: 4px;
    margin-right: -3px;

    .bar {
        width: 20px;
        height: 2px;
        opacity: 1;
        display: block;
        will-change: transform, opacity;
        -webkit-transition: -webkit-transform 0.15s linear, opacity 0.15s linear;
        -moz-transition: -moz-transform 0.15s linear, opacity 0.15s linear;
        transition: transform 0.15s linear, opacity 0.15s linear;
        background-color: #000;

        + .bar {
            margin-top: 4px;
        }
    }
    .mobile-menu-active & {
        .first-bar {
            @include transform(rotateZ(45deg) translateY(5px) translateX(4px));
        }
        .third-bar {
            @include transform(rotateZ(-45deg) translateY(-5px) translateX(4px));
        }
        .second-bar {
            opacity: 0;
        }
    }
}

.app-footer {
    padding: 20px 0;

    @include md {
        padding: 76px 0 32px;
    }
}

.app-footer-indent {
    margin-bottom: 40px;

    @include md {
        margin-bottom: 32px;
    }
}

.app-footer-container {
    @include sm {
        @include flexbox;
        @include justify-content(space-between);

        ._i1 {
            @include order(1);
        }
        ._i2 {
            @include order(2);
            margin-left: 60px;
        }
    }
}

.app-footer-info {
    color: $text-secondary-color;
    font-size: 7px;
    line-height: 9px;

    @include md {
        font-size: 14px;
        line-height: 18px;
    }
}

.app-footer-nav {
    @include flexbox;
    margin-bottom: 28px;
    @include md {
        margin-bottom: 54px;
    }
}

.app-footer-nav__col {

    + .app-footer-nav__col {
        margin-left: 60px;
    }
    @include md {
        @include flex(1);

        + .app-footer-nav__col {
            margin-left: 80px;
        }
    }
}

.app-footer-social__link {
    color: $text-secondary-color;
    margin-right: 18px;
    font-size: 10px;

    [class*="icon-"] {
        margin-right: 6px;
    }
    .icon-facebook {
        font-size: 1.4em;
    }
    .icon-vk {
        font-size: 1.1em;
    }
    .icon-twitter {
        font-size: 1.1em;
    }
    &:hover {
        color: $link-color;
    }
    @include md {
        font-size: 14px;
        margin-right: 34px;
    }
}

.app-footer__subscribe {
    max-width: 440px;
}

.app-footer-subscribe__title {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 22px;
    font-family: "Geometria-Medium";

    @include md {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 26px;
        padding-top: 4px;
    }
}

.app-footer-nav__link {
    display: block;
    text-transform: uppercase;
    font-family: 'Geometria-Medium';
    white-space: nowrap;
    font-size: 9px;

    &:hover {
        color: $link-color
    }
    + .app-footer-nav__link {
        margin-top: 5px
    }

    @include md {
        font-size: 14px;
        + .app-footer-nav__link {
            margin-top: 16px
        }
    }
}

.app-telegram-bot {
    @include in_b;
    vertical-align: top;
    white-space: nowrap;
    font-family: 'Geometria-Medium';
    font-size: 13px;
    position: relative;
    padding: 12px 20px 12px 50px;
    margin-top: 35px;
    @include icon(arrow-right) {
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 12px;
        @include transform(translateY(-50%));
        color: inherit;
    };

    img {
        position: absolute;
        left: 0;
        top: 50%;
        width: 38px;
        height: 38px;
        @include transform(translateY(-50%));
    }

    &:hover {
        color: $link-color
    }

    @include md {
        font-size: 18px;
        padding-left: 68px;
        margin-top: 50px;

        img {
            width: 52px;
            height: 52px;
        }
    }
}

.app-main-poster {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/main-poster-mobile.jpg);
    background-size: cover;

    @include sm {
        background-image: url(../img/main-poster.png);
    }
}

.app-main-poster__inner {
    padding-top: 51px;
    padding-bottom: 91px;

    @include md-lg {
        padding-top: 6vh;
    }
}

.app-main-poster__rates {
    @include radius(3px);
    border: 1px solid rgba(255,255,255,0.7);
    @include inline-flex;
    vertical-align: middle;
    position: relative;

    @include sm-max {
        .app-main-poster__rates_title {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 100%;
            padding-bottom: 16px;
        }
    }
    @include sm {
        .app-main-poster__rates_title {
            padding: 20px 24px 0;
            font-family: "Geometria-Medium";
            border-right: 1px solid rgba(255, 255, 255, 0.7);
            position: relative;
        }
    }
}

.app-main-poster__rates_title {
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    @include sm-max {
        font-size: 11px;
    }
}

.app-main-poster__rates_grid {
    padding: 12px 20px;
    @include flexbox;

    @include sm-max {
        padding: 10px 22px;
        min-width: 272px;
    }
}

.app-main-poster__rates_item {
    white-space: nowrap;
    + .app-main-poster__rates_item {
        margin-left: 20px;
    }
    @include sm {
        + .app-main-poster__rates_item {
            margin-left: 27px;
        }
    }
}

.app-main-poster__rates_label {
    font-size: 11px;
    line-height: 14px;
    color: #86bfff;
    font-family: 'Geometria-Light';

    @include sm-max {
        font-size: 10px;
    }
}

.app-main-poster__rates_value {
    color: #fff;
    font-size: 14px;
    font-family: 'Geometria-Bold';
    text-align: left;

    @include sm-max {
        font-size: 12px;
        line-height: 20px;
    }

    ._bit {
        width: 20px;
        height: 20px;
        color: #fff;
        @include radius(20px);
        line-height: 20px;
        text-align: center;
        @include in_b;
        vertical-align: middle;
    }
    ._down {
        background-color: #ff3d3d;

        &:before {
            content: "\02193"
        }
    }
    ._up {
        background-color: #4ac420;

        &:before {
            content: "\02191"
        }
    }
}

.app-main-poster__indent {
    margin-top: 47px;

    @include md {
        margin-top: 70px;
    }
    @include md-lg {
        margin-top: 5vh;
    }
}

.app-main-poster__title {
    color: #fff;
    font-size: 29px;
    line-height: 36px;

    @include md {
        font-size: 46px;
        line-height: 56px;
    }
    @include md-lg {
        font-size: 5vw;
        line-height: 5.4vw;
    }
    strong {
        display: block;
    }
}

.app-main-poster__animation {
    overflow: hidden;
    display: block;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
    height: 40px;
    @include md {
        height: 62px;
    }
    > * {
        display: none;
        white-space: nowrap;
        will-change: transform;
        &:first-child {
            display: block;
        }
    }
}

.app-main-poster__sample {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    @include flexbox;
    @include sm {
        margin-top: 34px;
    }
}

.app-main-poster__sample-item {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Geometria-Medium';
    @include flex(1);

    [class*="icon-"]{
        @include in_b;
        font-size: 26px;
        margin-bottom: 8px;
    }
    + .app-main-poster__sample-item {
        margin-left: 8px;
    }
    @include xs {
        font-size: 13px;
        line-height: 16px;
    }
    @include sm {
        font-size: 16px;
        line-height: 18px;

        + .app-main-poster__sample-item {
            margin-left: 40px;
        }
        [class*="icon-"]{
            margin-bottom: 20px;
        }
    }
    @include md {
        font-size: 22px;
        line-height: 26px;
        + .app-main-poster__sample-item {
            margin-left: 40px;
        }
        [class*="icon-"]{
            font-size: 50px;
        }
    }
    @include md-lg {
        font-size: 1.8vw;
        line-height: 2vw;
    }
}


.app-main-poster__grid {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #68c2ff;
    font-family: 'Geometria-Medium';
    @include box-sizing;
    padding: 15px 0 26px;
    ._grid {
        @include flexbox;

        + ._grid .app-main-poster__grid-item {
            padding-top: 31px;
        }
    }
    @include sm-max {
        margin-top: 64px;
    }
    @include sm {
        padding: 25px;
    }
    @include md-lg {
        padding: 2vw;
    }
}

.app-main-poster__grid-item {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    @include flex(1);
    padding: 0 12px;
    strong {
        color: #1c8dfa;
        font-size: 23px;
        line-height: 28px;
    }
    + .app-main-poster__grid-item {
        border-left: 1px solid #1c8dfa
    }
    @include md {
        line-height: 20px;
        font-size: 14px;

        strong {
            font-size: 35px;
            line-height: 40px;
        }
    }
    @include md-lg {
        font-size: 1vw;

        strong {
            font-size: 3vw;
            line-height: 3.4vw;
        }
    }
}

.app-invest-white-title {
    background-color: #fff;
}

.app-white-section {
    background-color: #fff;
}

.app-section-icon {
    width: 50px;
    height: 50px;
    font-size: 22px;
    @include radius(50%);
    background: #fff5cc;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    color: #ffae00;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    [class*="icon-"] {
        font-size: inherit;
    }

    .icon-idea {
        font-size: 1.1em;
    }
    .icon-case {
        font-size: 0.8em;
    }
    .icon-book {
        font-size: 0.8em;
    }
    .icon-mask {
        font-size: 1.2em;
    }

    @include md {
        width: 96px;
        height: 96px;
        line-height: 96px;
        font-size: 48px;
    }
}

.app-section-title {
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    font-family: 'Geometria-Medium';
    padding-bottom: 40px;


    &.-large {

    }
    @include sm {
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 66px;
    }
    @include md {
        font-size: 46px;
        line-height: 50px;

        &.-large {
            font-size: 60px;
            line-height: 66px;
        }
    }
}

.app-section__indent {
    padding: 25px 0;

    @include md {
        padding: 44px 0;
    }
}

.app-invest__list-grid {

    > ._col {
        margin-bottom: 14px;
    }
    @include sm {
        margin-left: -7px;
        margin-right: -7px;
        > ._col {
            @include col(1,2,7px);
        }
    }
    @include md {
        //> ._col {
        //    @include col(1,3,7px);
        //}
        > ._col {
            @include col(1,4,7px);
        }
    }
    @include mq-min {
    }
}

.app-section__tools  {
    padding-top: 46px;
    text-align: center;

    @include mq-min {
        padding-top: 60px;
    }
}

.app-invest-idea {
    .app-invest-white-title {
        padding-top: 4px;
    }
    .app-section__tools {
        padding-top: 40px;
        @include sm {
            padding-top: 70px;
        }
    }
}

.app-invest-idea__item-inner  {
    position: relative;
}

.app-invest-idea__item {
    background: #fff;
    border: 1px solid #acd8e6;
    padding: 46px 28px 20px;
    $fs: 13px;
    $lh: 22px;

    ._img {
        height: 48px;
    }
    ._content {
        font-size: $fs;
        line-height: $lh;
    }
    ._date {
        font-size: 12px;
        color: $text-secondary-color;

        [class*="icon-"]{
            margin-right: 4px;
        }
    }
    ._profit {
        @include flexbox;
        @include align-items(baseline);
        @include justify-content(space-between);
        font-family: 'Geometria-Medium';
    }
    ._profit-label {
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-size: 15px;
    }
    ._profit-value {
        font-size: 34px;
        margin: 14px 0 0;
        color: #4ac420;
    }
    ._rate {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        height: 38px;
    }
    ._rate-label {
        font-size: 12px;
        font-family: 'Geometria-Medium';
        color: $text-secondary-color;
        margin-right: 12px;

        img {
            vertical-align: middle;
        }
    }
    ._rate-value {
        color: #ffcc00;
        white-space: nowrap;
    }
    ._tools {
        padding-top: 20px;
    }
    ._date {
        position: absolute;
        left: 0;
        bottom: 100%;
        padding: 11px 0;
        line-height: 14px;
    }
    ._rate {
        position: absolute;
        left: 110px;
        bottom: 100%;
    }
    ._info {
        @include flexbox;
        border-top: 1px solid #acd8e6;
        border-bottom: 1px solid #acd8e6;
        font-family: 'Geometria-Medium';
        margin: 20px -24px 0;

        .-down {
            color: $red-color
        }
        .-up {
            color: $green-color
        }
    }
    ._info-title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
        color: $text-secondary-color;
    }
    ._info-value {
        font-size: 20px;
    }
    ._info-progress {
        font-size: 10px;
        margin-top: 20px;
        text-transform: uppercase;
        position: relative;
        white-space: nowrap;
    }
    ._info-progress-line-fill {
        @include radius(7px);
        background-color: $green-color;
        height: 7px;
    }
    ._info-progress-line {
        background-color: $red-color;
        @include radius(7px)
    }
    ._info-progress-label + ._info-progress-label {
        position: absolute;
        right: 0;
        top: 0;
    }
    ._info-cell {
        padding: 20px;

        + ._info-cell {
            @include flex(1);
            text-align: left;
            border-left: 1px solid #acd8e6;
        }
    }
    &.-flash {
        background-color: #e3ffd9;
        position: relative;
        @include icon(flash) {
            font-size: 24px;
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            z-index: 1;
        };

        &:after {
            content:"";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 34px;
            border-color: #4ac420 #4ac420 transparent transparent;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &.-hovered {
        position: relative;
        ._hovered-info {
            @include flexbox;
        }
    }
    ._hovered-info {
        display: none;
        position: absolute;
        background-color: rgba(14, 44, 86, 0.8);
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 14%;
        @include box-sizing;
        @include user-select-none;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        color: #fff;
        z-index: 2;

        [class*="app-button-"]{
            margin-top: 18px;
        }
    }
    ._hovered-info-title {
        font-size: 16px;
        line-height: 20px;
    }
    &:hover {
        @include transition(box-shadow 0.15s ease-out);
        @include box-shadow(0 18px 48px rgba(172,216,230,0.58))
    }
    @include sm-max {
        ._hovered-info {
            padding: 20px;
        }
        ._hovered-info-grid {
            @include flexbox;

            [class*="app-button-"] + [class*="app-button-"]{
                margin-left: 24px;
            }
        }
    }
    @include sm {
        ._hovered-info-title {
            font-size: 22px;
            line-height: 26px;
        }
        ._hovered-info {

            [class*="app-button-"]{
                margin-top: 24px;
            }
        }
        &.-view-2 {
            padding: 14px;
            text-align: center;

            ._rate,
            ._date {
                position: relative;
                left: 0;
                top: 0;
            }
            ._profit {
                @include align-items(center);
                @include flex-direction(column);
                margin: 14px 0 0;
            }
            ._profit-value {
                font-size: 42px;
                line-height: 48px;
                margin: 10px 0 0;
            }
            ._content {
                height: $lh * 3;
                @include multiline($fs, $lh, 3);
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
            ._info {
                margin-left: -14px;
                margin-right: -14px;
            }
            ._tools {
                margin-left: -14px;
                margin-right: -14px;
                margin-bottom: -14px;
                padding: 20px;
            }
        }
    }
    @include md-lg {
        &.-view-2 {
            ._info-cell {
                padding: 1vw;
            }
            ._info-title {
                font-size: 1vw;
                line-height: 1.2vw;
            }
            ._content {
                font-size: 1.3vw;
            }
            ._profit-value {
                font-size: 3vw;
                line-height: 3.4vw;
            }
            ._rate {
                height: 4vw;
            }
        }
    }
}

.app-invest__item-inner {
    position: relative;
}

.app-invest__item {
    background: #fff;
    border: 1px solid #acd8e6;
    padding: 46px 24px 24px;
    $fs: 16px;
    $lh: 20px;

    ._img {
        height: 48px;
    }
    ._content {
        font-size: $fs;
        line-height: $lh;
        height: $lh * 3;
        @include multiline($fs, $lh, 3);
    }
    ._author {
        font-size: 12px;
        color: $text-secondary-color;
        font-family: 'Geometria-Medium';
        position: absolute;
        left: 90px;
        bottom: 100%;
        padding: 14px 0;
        max-width: 60%;
    }
    ._date {
        font-size: 10px;
        color: $text-secondary-color;
        position: absolute;
        left: 0;
        bottom: 100%;
        padding: 14px 0;

        [class*="icon-"]{
            margin-right: 12px;
        }
    }
    ._success-hit {
        font-size: 10px;
        color: $text-secondary-color;
        font-family: 'Geometria-Medium';
        margin-top: 12px;
        text-transform: uppercase;

        span {
            color: #000;
            @include in_b;
            margin-left: 4px;
        }
    }
    ._profit {
        font-family: 'Geometria-Medium';
        margin-top: 12px;
    }
    ._profit-label {
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-size: 12px;
    }
    ._profit-value {
        font-size: 30px;
        margin: 10px 0 0;
        color: #4ac420;
    }
    &:hover {
        @include transition(box-shadow 0.15s ease-out);
        @include box-shadow(0 18px 48px rgba(172,216,230,0.58))
    }
    &.-flash {
        background-color: #e3ffd9;
        position: relative;
        @include icon(flash) {
            font-size: 24px;
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            z-index: 1;
        };

        &:after {
            content:"";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 34px;
            border-color: #4ac420 #4ac420 transparent transparent;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    @include sm {
    }
}



.app-invest-calc {
    @include sm-max {
        .app-section-title {
            font-size: 28px;
            line-height: 30px;
        }
    }
}

.app-invest-calc__options {
    background-color: #fff;
    border: 1px solid #acd8e6;
    padding: 28px 14px;
    margin-bottom: 20px;

    ._option-strategy {
        @include flexbox;

        + ._option-strategy {
            margin-top: 22px;
        }
        ._option-button {
            @include flex(1);
            min-width: 0;
        }
    }

    ._option-button {
        position: relative;

        [class*="icon-"]{
            font-size: 20px;
            vertical-align: middle;
            position: absolute;
            left: 10px;
            top: 50%;
            @include transform(translateY(-50%));
        }
        [class*="app-button-"] {
            padding-left: 30px;
            padding-right: 0;
            height: 37px;
            line-height: 40px;
            font-size: 7px;
            font-family: 'Geometria-Medium';
            white-space: normal;
            > span {
                line-height: 1.4em;
                vertical-align: middle;
            }
        }
        .icon-line-stats {
            color: #55d3ff;
        }
        .icon-piggy {
            color: #ed1f37;
        }
        .icon-safe-circle {
            color: #f79f1a;
        }
        [type=radio]:checked + [class*="app-button-"] {
            background-color: #1c8dfa;
            border-color: #1c8dfa;
            color: #fff;
            [class*="icon-"] {
                color: inherit;
            }
        }
        + ._option-button {
            margin-left: 18px;
        }
    }
    ._option-title {
        font-size: 13px;
        line-height: 16px;
        font-family: 'Geometria-Bold';
        margin-bottom: 14px;
    }

    ._option-cash {
        @include inline-flex;

        ._option-title {
            margin: 0 20px 0 0;
        }
    }

    ._option-cash-flex {
        @include inline-flex;
    }
    ._option-cash-item {
        @include in_b;
        font-size: 13px;
        font-family: 'Geometria-Medium';
        vertical-align: center;
        cursor: pointer;
        margin-right: 10px;

        ._option-cash-item__inner {
            @include in_b;
            border: 2px solid #1c8dfa;
            width: 28px;
            height: 28px;
            line-height: 26px;
            @include box-sizing;
            @include radius(50%);
            text-align: center;
        }
        [type=radio]:checked + ._option-cash-item__inner {
            background-color: #1c8dfa;
            color: #fff;
        }
    }

    ._option-ranges + ._option-ranges,
    ._option + ._option{
        margin: 60px 0 0;
    }

    @include sm {
        padding: 34px 34px 48px;
        ._option-button {
            [class*="app-button-"] {
                padding-left: 52px;
                font-size: 12px;
                padding-right: 20px;
                height: 50px;
                line-height: 48px;
            }
        }

        ._option-button {
            [class*="icon-"] {
                font-size: 28px;
            }
            + ._option-button {
                margin-left: 40px;
            }
        }
        ._option-strategy {
            + ._option-strategy {
                margin-top: 40px;
            }
        }
    }
    @include md {
        ._option-button {
            [class*="app-button-"] {
                font-size: 8px;
            }
        }
        ._option-ranges {
            @include flexbox;
            margin: 0;

            + ._option-ranges {
                margin-top: 58px;
            }
            ._option {
                @include flex(1);
                min-width: 0;
            }
        }
        ._option + ._option {
            margin: 0 0 0 40px;
        }
    }
    @include md-lg {
        ._option-cash {
            display: block;

            ._option-title {
                margin: 0 0 6px 0;
            }
        }
    }
    @include mq-min {
        padding: 34px 48px 60px;

        ._option-button {
            [class*="app-button-"] {
                padding-left: 52px;
                font-size: 11px;
            }
        }
    }
}

.app-invest-calc__options-title {
    font-family: 'Geometria-Bold';
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 22px;

    @include sm {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 30px;
    }
}

.app-invest-calc__options-grid {
    @include md-max {
        ._col + ._col {
            margin-top: 26px;
        }
    }
    @include md {
        margin: 0 -34px;
        > ._col {
            @include col(1,2,34px);
        }
    }
}

.app-invest-radar {
    overflow: hidden;

    .app-invest-white-title {
        padding-top: 24px;
        @include sm {
            padding-top: 50px;
        }
    }
}

.app-content-b-fade {
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: -1px;
        right: -1px;
        height: 150px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(222,247,255,0) 50%, rgba(222,247,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(222,247,255,0) 50%,rgba(222,247,255,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(222,247,255,0) 50%,rgba(222,247,255,1) 100%);
        pointer-events: none;
        z-index: 1;
    }
}

.app-section-subtitle__radar {
    display: block;
    margin-top: 14px;
    font-family: 'Geometria-Bold';
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;

    span {
        color: #29c8ff;
    }
    @include sm {
        margin-top: 20px;
        font-size: 18px;
    }
}

.app-table-insider__row {
    @include flexbox;
    padding: 12px 16px;

    [class*="app-table-insider__td"]{
        @include flex(1);
        min-width: 64px;
        + [class*="app-table-insider__td"]{
            margin-left: 20px;
        }
    }
    @include sm {
        padding: 24px 16px;
    }
}

.app-table-insider__indent {
    @include md {
        padding-top: 55px;
    }
}

.app-table-insider__container {
    @include md {
        padding-left: $content-h-indent;
        padding-right: $content-h-indent;
        margin-right: auto;
        margin-left: auto;
        max-width: $content-max + $content-h-indent*2;
        @include box-sizing;
    }
}

.app-table-insider__thead {
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Geometria-Medium';
}

.app-table-insider__td-deal {
    max-width: 12%;
}

.app-table-insider__td-date {
    max-width: 12%;
}

.app-table-insider__td-value {
    max-width: 14%;
}

.app-table-insider__td-price-change {
    max-width: 20%;
    text-align: center;
    @include justify-content(center);
    font-family: 'Geometria-Medium';
}

.app-table-insider__tbody {
    font-size: 12px;

    ._td-center {
        @include flexbox;
        @include align-items(center);
    }
    ._cell-label {
        padding: 2px 8px;
        font-family: 'Geometria-Bold';
        @include in_b;
    }
    ._cell-up-label {
        color: #4ac420;
        background-color: #edf9e8;
    }
    ._cell-down-label {
        color: #ff4e4e;
        background-color: #ffebeb;
    }
    ._cell-date {
        font-family: 'Geometria-Light';
    }
    ._cell-up {
        color: #4ac420;

        &:after {
            @include in_b;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            @include radius(50%);
            margin-left: 6px;
            background-color: #edf9e8;
            content: "\02191"
        }
    }
    ._cell-down {
        color: #ff4e4e;

        &:after {
            @include in_b;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            @include radius(50%);
            margin-left: 6px;
            background-color: #ffebeb;
            content: "\02193"
        }
    }
    ._cell-hint {
        @include in_b;
        font-family: 'Geometria-Bold';
        background-color: #dedfe1;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        @include radius(50%);
        margin-left: 12px;
    }
    ._cell-next {
        position: absolute;
        @include icon(arrow-right);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        top: 0;
        right: 0;
        height: 100%;
        width: 38px;
        border-left: 1px solid #acd8e6;
        color: #bfe1ec;

        &:hover{
            background-color: #acd8e6;
            color: #fff;
        }
    }
    .app-table-insider__row {
        background-color: #fff;
        @include box-shadow(0 0 0 1px #acd8e6);
        white-space: nowrap;
        position: relative;
    }
    .app-table-insider__td-name {
        img {
            width: 26px;
            @include in_b;
            vertical-align: middle;
            margin-right: 12px;
        }
        ._author {
            color: $text-secondary-color;
        }
    }
    @include md-max {
        .app-table-insider__td-name {
            flex-direction: column;
            position: relative;
            padding-left: 32px;
            line-height: 16px;

            strong,
            ._author {
                width: 100%;
                @include ellipsis;
            }
            img {
                position: absolute;
                left: 0;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
    }
    @include md {
        font-size: 16px;

        ._cell-hint,
        ._cell-down:after,
        ._cell-up:after {
            width: 28px;
            height: 28px;
            line-height: 28px;
            margin-left: 12px;
        }
        .app-table-insider__row {
            + .app-table-insider__row {
                margin-top: 10px;
            }
        }
        ._cell-label {
            padding: 7px 20px;
        }
        ._cell-next {
            width: 58px;
        }
        .app-table-insider__td-name {
            max-width: 100%;
            @include ellipsis;
            strong {
                margin-right: 12px;
            }
            img {
                margin-right: 18px;
            }
        }
    }
}


.app-invest-magazine {
    margin-top: 44px;
}

.app-invest-magazine__grid {
   >  ._col {
       min-width: 0;
       @include flex(1);
        @include flexbox;

        > .app-invest-magazine__card {
            min-width: 0;
            @include flex(1);

            + .app-invest-magazine__card {
                margin-left: 18px;
            }
        }
    }
    @include md {
        @include flexbox;
        > ._col {
            + ._col {
                margin-left: 24px;
            }
        }
    }
    @include mq-min {
        > ._col {
            > .app-invest-magazine__card + .app-invest-magazine__card {
                margin-left: 36px;
            }
            + ._col {
                margin-left: 36px;
            }
        }
    }
}

.app-invest-magazine__card {
    border: 1px solid #dbdde3;
    position: relative;
    margin-bottom: 18px;

    ._top {
        position: relative;
        @include ratio(284,200);
    }
    ._tools {
        position: absolute;
        left: 14px;
        bottom: 6px;
        right: 8px;
        color: #fff;
        font-size: 8px;
        text-transform: uppercase;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        z-index: 2;

        [class*="icon-"]{
            margin-right: 4px;
        }
    }
    ._bg {
        position: absolute;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:after {
            content: "";
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 68%, rgba(0,0,0,0.3) 89%, rgba(0,0,0,0.5) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 68%,rgba(0,0,0,0.3) 89%,rgba(0,0,0,0.5) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 68%,rgba(0,0,0,0.3) 89%,rgba(0,0,0,0.5) 100%);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
    ._ahead {
        margin-bottom: 6px;
        font-size: 6px;
        text-transform: uppercase;
    }
    ._title {
        font-family: 'Geometria-Medium';
        margin-bottom: 9px;
        font-size: 13px;
        line-height: 18px;
    }
    ._subtitle {
        color: $text-secondary-color;
        font-family: 'Geometria-Medium';
        font-size: 8px;
        line-height: 11px;
    }
    ._bottom {
        padding: 14px;
    }

    &.-fullsize {
        color: #fff;

        ._tools {
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
        ._absolute {
            left: 19px;
            bottom: 13px;
            right: 15px;
            position: absolute;
            z-index: 1;
        }
    }
    @include sm {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);

        &.-fullsize {
            ._absolute {
                left: 34px;
                bottom: 34px;
                right: 34px;
            }
            ._title {
                font-size: 28px;
                margin-bottom: 16px;
                line-height: 20px;
            }
            ._ahead {
                margin-bottom: 12px;
                font-size: 12px;
            }
            ._subtitle {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    @include md-max {
        &.-fullsize {
            @include ratio(344,218);
        }
    }
    @include md {
        ._title {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 26px;
        }
        ._subtitle {
            font-family: 'Geometria-Medium';
            font-size: 14px;
            line-height: 20px;
        }
        ._tools {
            left: 20px;
            bottom: 12px;
            right: 20px;
            font-size: 10px;
        }
        ._bottom {
            padding: 22px;
        }
    }
    @include mq-min {
        margin-bottom: 36px;
    }
}



.app-scroll {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
}

.app-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $header-mobile-height;
    height: 100%;
    background: #fff;
    width: 100%;
    display: none;
    @include box-sizing;
    z-index: indexUp($index-content);

    nav {
        font-size: 14px;
        line-height: 18px;
        text-align: center;

        a {
            display: block;
            padding: 23px 0;
            font-family: 'Geometria-Medium';
            text-transform: uppercase;

            &:hover, &:focus {
                background-color: #e6f3f7;
            }
        }
    }
}

.app-mobile__tools {
    @include flexbox;
    text-align: center;

    [class*="app-button-"]{
        @include flex(1);
        height: 60px;
        line-height: 60px;
        @include radius(0);
    }
}

.app-mobile__flex {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
}

.app-mobile__scroll {
    position: relative;
    @include flex(1);
    min-width: 0;

    .app-scroll {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.app-modal {
    background-color: rgba(#0b4ca9, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: indexUp($index-content);

    .app-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.app-modal__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.app-modal__cell {
    display: table-cell;
    vertical-align: middle;
}

.app-modal__inner {
    padding: 24px;
}

.app-modal__close {
    position: absolute;
    @include in_b;
    width: 16px;
    height: 16px;
    overflow: hidden;
    right: 18px;
    top: 18px;

    &:hover {
        &::before, &::after {
            background: $doc-color;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        background: #000;
        height: 2px;
        margin-top: -2px;
    }
    &::before {
        @include transform(rotate(45deg));
    }
    &::after {
        @include transform(rotate(-45deg));
    }
}

.app-modal__window {
    background-color: #fff;
    position: relative;
    @include box-sizing;
    @include box-shadow(0 0 40px rgba(#123970, 0.3));
    padding: 24px;

    &.-fullsize {
        width: 100%;
    }
    @include sm {
        padding: 34px;
    }
}

.app-modal-expert {
    text-align: center;
    .app-form-item {
        text-align: left;
        ._field {
            + ._field {
                margin: 16px 0 0;
            }
        }
    }
    ._title{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 36px;
    }
    ._form-title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }
    ._logo {
        margin-bottom: 20px;
    }
    ._tools {
        margin-top: 34px;
    }
    ._tools-title {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    ._tools-nav {
        font-size: 30px;

        > label {
            @include in_b;
            position: relative;

            + label {
                margin-left: 26px;
            }
            input {
                position: absolute;
                visibility: hidden;

                + i {
                    opacity: 0.5;
                }

                &:checked + i,
                &.selected + i {
                    opacity: 1;
                }
            }
        }
        .icon-form-mobile {
            color: #A9A9A9;
        }
        .icon-form-letter {
            color: #20aadf;
        }
        .icon-form-phone {
            color: #5cb954;
        }
    }
    ._date {
        color: $text-secondary-color;
        margin-bottom: 6px;
        font-size: 12px;
    }
    ._check {
        text-align: left;
    }
    ._form-submit__inner {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    ._form-submit {
        padding-top: 26px;
        margin-top: 26px;
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid #8695aa;

        ._check + ._check {
            margin-top: 10px;
        }
    }
    @include sm-max  {
        ._form-submit {
            [class*="app-button-"]{
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    @include sm  {
        ._title {
            max-width: 660px;
            margin-left: auto;
            margin-right: auto;
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 50px;
        }
        ._form-submit__inner {
            @include box-sizing;
            padding-right: 200px;
        }
        ._form-submit {
            margin-top: 40px;
            padding-top: 40px;
            margin-left: -34px;
            margin-right: -34px;

            ._check + ._check {
                margin-top: 20px;
            }
            [class*="app-button-"]{
                position: absolute;
                right: -20px;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
        ._form-title {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 36px;
        }
        ._tools-nav {
            font-size: 40px;

            label + label {
                margin-left: 36px;
            }
        }
        ._logo {
            margin-bottom: 28px;
        }
        ._tools-title {
            margin-bottom: 32px;
        }
        ._date {
            margin-bottom: 10px;

            [class*="icon-"]{
                margin-right: 6px;
            }
        }
        ._tools {
            margin-top: 50px;
        }
        .app-form-item {
            max-width: 1020px;
            margin-left: auto;
            margin-right: auto;
            @include flexbox;
            ._field {
                @include flex(1);
                min-width: 0;
                + ._field {
                    margin: 0 0 0 16px;
                }
            }
        }
    }
    @include md-lg {
        ._title {
            font-size: 2vw;
            line-height: 2.3vw;
            margin-bottom: 6vh;
        }
        ._logo {
            margin-bottom: 2.4vh;

            img {
                max-height: 10vh;
            }
        }
        ._tools {
            margin-top: 3.5vh;
        }
        ._form-title {
            margin-bottom: 3.5vh;
        }
        ._tools-title {
            margin-bottom: 2.5vh;
        }
        ._form-submit {
            padding-top: 4vh;
            margin-top: 4vh;
        }
    }
}


.js-pix {
    position: absolute;
    top: 0;
    max-width: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.7;
    pointer-events: none;
}


.app-question-mark {
    background-color: #C4CCD5;
    font-family: "Geometria-Bold";
    min-width: 14px;
    line-height: 14px;
    padding: 0 4px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    @include radius(50%);
    cursor: pointer;
}

.white-bg {
    background-color: #fff;
}

.app-page-title__container {
    padding: 34px 0;
    text-align: center;
}

.app-page-title__breadcrumbs {
    font-size: 12px;
    margin-bottom: 10px;
}

.app-page-title {
    font-size: 30px;
    line-height: 32px;
    font-family: "Geometria-Bold";
    margin-bottom: 10px;

    @include md {
        font-size: 46px;
        line-height: 48px;
    }
}

.app-page-title__bottom {
    font-size: 12px;
    line-height: 20px;
}


.app-table-body {
    font-size: 14px;

    .app-table-row {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.app-table-header {
    background-color: $lblue-bc;
    font-size: 12px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: $header-mobile-height;
    z-index: 99;

    @include sm {
        top: $header-desctop-height;
    }

    .app-table-row {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    ._select {
        margin-left: 6px;
    }
    ._link {
        white-space: nowrap;

        > span {
            display: inline-block;
            vertical-align: middle;
        }
        &:hover,
        &.active {
            color: $link-color;
        }
    }
    ._icon-arrow {
        margin-left: 4px;
        display: inline-block;
        vertical-align: middle;

        &:after {
            content: "";
            width: 4px;
            height: 4px;
            display: block;
            @include transform(rotate(45deg))
        }
    }
    .desc {
        ._icon-arrow:after {
            border-bottom: 1px solid;
            border-right: 1px solid;
            margin-top: -3px;
        }
    }
    .asc {
        ._icon-arrow:after {
            border-top: 1px solid;
            border-left: 1px solid;
            margin-top: 3px;
        }
    }
}

.app-table {
    .app-question-mark {
        margin-left: 4px;
    }
}

.app-table-progress {
    background-color: #EEF2F3;
    @include radius(4px);
    width: 100%;

    .app-table-progress__line {
        height: 8px;
        @include radius(4px);
        background: rgb(125,185,232);
        background: -moz-linear-gradient(left, rgba(125,185,232,1) 0%, rgba(198,135,248,1) 100%);
        background: -webkit-linear-gradient(left, rgba(125,185,232,1) 0%,rgba(198,135,248,1) 100%);
        background: linear-gradient(to right, rgba(125,185,232,1) 0%,rgba(198,135,248,1) 100%);
    }
}

.app-table-image {
    max-width: 100%;
    vertical-align: top;
}

.app-table-row {
    display: flex;

    + .app-table-row {
        border-top: 1px solid #E3E3E3;
    }
}

.app-table-cell {
    @include flexbox;
    @include flex(1);

    .-cell-align-center &,
    &.-align-center {
        @include align-items(center);
    }
}

.app-table-cell__inner {
    width: 100%;
}

.app-table-v-1 {
    @include clearfix;

    .app-table-image {
        margin-bottom: 10px;
    }
    .app-table-progress {
        margin-bottom: 12px;
    }
    ._title {
        font-size: 14px;
    }
    ._progress-price {
        text-align: center;
        margin-bottom: 10px;
    }
    ._progress-flex {
        @include flexbox;
        @include justify-content(space-between);
        font-size: 12px;
        div + div {
            margin-left: 20px;
        }
        div {
            text-align: left;
            &:last-child {
                text-align: right;
            }
        }
    }
    ._ac-title {
        font-size: 10px;
        opacity: 0.46;
    }
    ._ac-subtitle {
        font-size: 13px;
        margin-bottom: 4px;
    }
    ._ac-price {
        font-size: 17px;
        font-family: "Geometria-Medium";
    }
    ._link-container {
        ._link {
            border-bottom: 1px solid;

            &:hover {
                color: $link-color;
            }
        }
    }
    ._template-visible {
        display: none;
    }
    .app-table-cell__label {
        white-space: nowrap;
        font-family: "Geometria-Medium";
    }
    @include mq-max {
        .app-table-header & {
            .app-table-row {
                overflow-x: auto;
            }
            .app-table-cell {
                @include flex(none);

                + .app-table-cell {
                    margin-left: 30px;
                }
            }
        }
        .app-table-body & {
            margin-left: -6.66%;
            padding-left: 3.33%;

            .app-table-row {
                @include box-sizing;
                display: block;
                width: 30%;
                margin-left: 3.33%;
                margin-top: 30px;
                float: left;
                padding-left: 20px;
                padding-right: 20px;
                border: 1px solid #E3E3E3;

                &:hover {
                    @include box-shadow(0 18px 48px rgba(0, 0, 0, 0.12));
                    @include transition(box-shadow 0.15s ease-out);
                }
            }
            .app-table-image {
                height: 40px;
            }
            .app-table-c-1 {
                text-align: center;
            }
            .app-table-c-2 {
                text-align: center;
                margin-bottom: 14px;
            }
            .app-table-c-3, .app-table-c-4, .app-table-c-5, .app-table-c-6 {
                padding-top: 8px;

                .app-table-cell__inner {
                    text-align: right;
                }
            }
            .app-table-c-7 {
                margin-top: 20px;

                .app-table-cell__inner {
                    @include flexbox;
                    @include justify-content(space-between);
                }
            }
            ._title {
                font-size: 18px;
                font-family: "Geometria-Medium";
                margin-bottom: 14px;
            }
            ._template-visible {
                display: block;
            }
            ._template-hidden {
                display: none;
            }
            ._ac {
                @include inline-flex;
            }
        }
    }
    @include md-max {
        .app-table-body & {
            margin-left: -8%;
            padding-left: 4%;
            .app-table-row {
                width: 46%;
                margin-left: 4%;
                margin-top: 20px;
            }
        }
    }
    @include sm-max {
        .app-table-body & {
            margin-left: 0;
            padding-left: 0;

            .app-table-row {
                width: 100%;
                margin-left: 0;
            }
        }
    }
    @include mq-min {
        ._ac {
            position: relative;
            padding-top: 22px;

            ._ac-title {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
        .app-table-c-1 {
            min-width: 135px;
            max-width: 135px;
            text-align: left;
        }
        .app-table-c-2 {
            margin-left: 40px;
        }
        .app-table-c-3 {
            margin-left: 40px;
            min-width: 84px;
            max-width: 84px;
            text-align: center;
        }
        .app-table-c-4 {
            margin-left: 30px;
            min-width: 116px;
            max-width: 116px;
            text-align: center;
        }
        .app-table-c-5 {
            margin-left: 20px;
            min-width: 124px;
            max-width: 124px;
            text-align: center;
        }
        .app-table-c-6 {
            margin-left: 20px;
            min-width: 146px;
            max-width: 146px;
            text-align: left;
        }
        .app-table-c-7 {
            margin-left: 20px;
            min-width: 130px;
            max-width: 130px;
            text-align: left;
        }
        ._link-container + ._link-container {
            padding-top: 7px;
        }
    }
}